@charset "utf-8";
html{ overflow:hidden;} 
body{ margin:0px; padding:0px; border:0px; font-family:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei"; color:#555555; font-size:14px; width:100%; background:#ffffff; height:100%; overflow:hidden;}
a{ margin:0px; padding:0px; border:0px; text-decoration:none; color:#555555; font-size:13px;}
a:hover{ text-decoration:none;}
*{ padding:0px; margin:0px; border:0px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
/* background:rgba(0,0,0,0);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);*/
li{ list-style:none;}
.clear{ clear:both !important; height:0px !important; width:0px !important; float:none !important; margin:0px !important; padding:0px !important; border:0px !important; line-height:0 !important; position:relative !important; }
input:focus{ outline: none;}/*去除按钮选中的高亮标签*/
textarea:focus{ outline: none;}/*去除文本框选中的高亮标签*/
button:focus{ outline: none;}/*去除按钮选中的高亮标签*/
select:focus{ outline: none;}/*去除下拉框选中的高亮标签*/
img{ max-width:100% !important; vertical-align: middle;}
div,p,table,td,ul,li,span,a,ol,input,label{ padding:0px; margin:0px; border:0px;}
input::-ms-input-placeholder{ /* Internet Explorer 10+ */ color:#4d4d4d; font-size:12px;}
input::-webkit-input-placeholder{ /* WebKit browsers */ color:#4d4d4d; font-size:12px;}
input::-moz-placeholder{ /* Mozilla Firefox 4 to 18 */  color:#4d4d4d; font-size:12px;}
input::-moz-placeholder{ /* Mozilla Firefox 19+ */ color:#4d4d4d; font-size:12px;}
.fl{ float:left;}
.fr{ float:right;}
.main{ display:flex; height:100%; align-items:center; justify-content:center; background: #52677c;}
.container{ width:1440px; height:810px; position: absolute; flex-chrink:0; background:url(../image/beijing.png) no-repeat 50%/cover; box-shadow: 8px 8px 10px rgba(0,0,0,0.6);border-radius: 10px;   transform: scale(0.75); }

.a {
    width: 50px;
    height:50px;
     background-color:red;
    position:fixed;
        
    }
    .b {
        width: 50px;
        height:50px;
         background-color:black;
        position:fixed;
            
        }